<% provide(:title, "Dev Info") %>
<h1>GRPS Music Catalog Dev Info Page</h1>
<p>
	The GRPS Music Catalog supports a REST API. In order to obtain a listing of the music titles in the database, please send requests to the following URL: tdy-music-catalog.herokuapp.com/items.json
</p>