<% provide(:title, "About") %>
<h1>SCORESHARE Dev Info Page</h1>
<p>
	ScoreShare supports RESTful requests. To obtain a listing of the music titles in the database, please send requests to this URL: tdy-music-catalog.herokuapp.com/items.json
</p>