<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
	This is the contact page for GRPS Music Catalog.<br>
	This web app was developed with the help of Michael Hartl's "Ruby on Rails Tutorial" at 
	 <a href="www.railstutorial.org">railstutorial.org</a>. <br>
	 

</p>