<% provide(:title, "Help") %>
<h1>SCORESHARE Help Page</h1>
<p>
	This is the help page for the SCORESHARE Web App. <br>
	The developer can be reached at
 	<a href="musiccatalogdev@gmail.com"> musiccatalogdev@gmail.com</a>.
</p>