<% provide(:title, "Help") %>
<h1>GRPS Music Catalog Help Page</h1>
<p>
	This is the help page for the GRPS Music Catalog Web App. To contact the 
	developer click <a href="musiccatalogdev@gmail.com">here</a>.
</p>