
<div class="center jumbotron">
  <h1>Welcome to ScoreShare</h1>

  <h2>
	   ScoreShare is a music resource sharing app for school districts. Teachers within your school district can search each other's music catalog and request a loan. ScoreShare facilitates resource sharing by connecting teachers across your school district.
  </h2>

  <%= link_to "Sign up now!", new_user_path, class: "btn btn-lg btn-warning" %>
</div>

