
<div class="search">
<p id="notice"><%= notice %></p>

<h1>Search for Music</h1>

<%= form_tag search_items_path, :method => :get do %>
<p>
	<%= text_field_tag :query, params[:query] %> <%= submit_tag "Search!" %>
</p>
<% end %>

</div>